
    <footer class="container-fluid bg-dark text-white p-3 text-center margin-top">
        <p class="small">&copy; Todos los derechos reservados ,, Argentina Programa 4.0 ,, Brian Nahuel Miyawaki </p>
    </footer>


<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm' crossorigin='anonymous'></script>
</body>
</html>